extends layout

block content

    if (errors)
        .errors 
            each error in errors 
                p #{error}

    .inputs 
        form(action="" method="POST") 
            textarea(name='content', value=`${post_content}`, cols='70', rows='7', placeholder="type your post's content here")
            <br>
            input(name='post_tags', placeholder="type your desired post tags here")
            <br>
            //- .taglist
            //-     each tag in tags 
            //-         .tag
            //-             input(type="checkbox", name='post_tags', value=`${tag._id}`)
            //-             label(for=`${tag._id}`) #{tag.name}
            button(type="submit") Submit
